
<div class="details-page__wrapper" [ngClass]="{'details-page__wrapper-dark': darkMode}">
      <div class="background-gradient__circle" [ngClass]="{'background-gradient__circle-dark': darkMode}"></div>
      
    <svg class="back__button" routerLink="" viewBox="4085 152 98.5 126" tabindex="0">
            
        <defs>
                  <style>
                .a {
                     fill: #2b244d;
                     }

                 .b {
                     fill: rgba(0, 0, 0, 0);
                     }

                 .b, .c {
                     stroke: #fff;
                     stroke-width: 2px;
                     }

                 .c {
                     fill: none;
                     }

                 .d {
                     fill: #fff;
                     font-size: 15px;
                     font-family: SegoeUI, Segoe UI, sans-serif;
                     letter-spacing: 0.4em;
                     }
            </style>
                
        </defs>
            
        <g transform="translate(3980)">
                  <circle class="a" cx="39" cy="39" r="39" transform="translate(105 152)"></circle>
                  <line class="b" transform="translate(123.5 190.5)" x1="80"></line>
                  <line class="b" transform="translate(123.5 164.5)" x2="26" y1="26"></line>
                  <line class="c" transform="translate(123.5 190.5)" x1="26" y1="27"></line>
                  
            <text class="d" transform="translate(117 274)">
                        <tspan x="0" y="0">BACK</tspan>
                      
            </text>
                
        </g>
          
    </svg>
      
    <section class="main-weather__card">

        <div class="middle-text">
            <span>{{match.date | date:'mediumDate'}}</span><br>    
            <h2>VS</h2>
            <br>
            <span>Match Starts at</span><br>
            <span >{{match.date | date:'shortTime'}}</span>  
        </div>
        <section class="card-header__container-dark" [ngSwitch]="true">
            <div class="match-info">
                <span class="match-info" style=" font-size: 30px; margin-top: 0px; text-transform: capitalize; ">Predict the match winner</span><br>
                 
            </div>
            <img class="city__illustration" src="./assets/default.svg"/>
                  
            <div class="header-content__wrapper">
                        
                <div class="today-weather__container">
                    <div class="team-1-details">
                        <h2>{{match.team1Name}}</h2>
                        <img src="./assets/{{match.team1Name}}.png" alt="">  
                        <button (click)="popup('team1')" class="btn btn-5">Select your team</button>        
                    </div>
                </div>
                
                <div class="city-name__container">
                    <div class="team-2-details">
                        <h2>{{match.team2Name}}</h2>
                        <img src="./assets/{{match.team2Name}}.png" alt="">  
                        <button (click)="popup('team2')" class="btn btn-5">Select your team</button>        
                    </div>                          
                </div>
                      
            </div>
                
        </section>
    
            
        <main class="body-content__wrapper">
                  
            <section class="twitter-feed__container">
                <app-team-card [teamId]="match.team1"></app-team-card>
             </section>
                
            <section class="twitter-feed__container">
               <app-team-card [teamId]="match.team2"></app-team-card>
            </section>
        </main>
    </section>
</div>
<!-- <app-error [message]="errorMessage"></app-error> -->
