
  <span class="close" (click)="onNoClick()">X</span>
  <div mat-dialog-content>
  <div class="upper-image">
      <img src="./assets/{{data.teamName}}.png" alt="">
  </div>
  <div class="bet-form">
    <span>Enter Coin Amount</span><br><br>
    <mat-form-field>
        <input matInput [(ngModel)]="qty" placeholder="Coins" type="number" max="100">
        <span matSuffix><img class ="coin" src="./assets/coin.png"></span>
    </mat-form-field>
  </div>
  
</div>

<div mat-dialog-actions>
  <button id="confirm-button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>Confirm Selection<img src="./assets/ball.png" style="height: 20px;margin-left: 15px;">
  <br><span class="small-text">You can't change your production once confirmed.</span></button>
</div>